

<td style="width: 150 px">
    <div class="btn-group">
        <a asp-action="Edit" asp-controller="Role" asp-route-id="@Model" class="btn btn-primary" >Edytuj</a>
      
        <a asp-action="Delete" asp-controller="Role" asp-route-id="@Model" class="btn btn-danger" >Usuń</a>
    </div>
</td>